@charset "utf-8";
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer,
header,
main,
nav,
section {
  display: block;
}
#holder {
  background: url('../img/board.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  /*Chrome 1.0, Safari 3.0*/
  -moz-background-size: cover;
  /*Mozilla 3.6*/
  -o-background-size: cover;
  /*Opera 10.0*/
  background-size: cover;
  /*Standar syntax*/
  width: 100%;
}
@media only screen and (min-width: 801px) {
  #holder {
    max-width: 2400px;
  }
}
#holder .header {
  padding-top: 1px;
  width: 100%;
}
.header .menu-btn {
  cursor: pointer;
  float: right;
  height: 40px;
  position: relative;
  width: 40px;
}
@media only screen and (min-width: 600px) {
  .header .menu-btn {
    display: none;
  }
}
.menu-btn .line-btn {
  background-color: #ffffff;
  height: 3px;
  position: absolute;
  width: 26px;
}
.menu-btn .line-btn:nth-child(1) {
  left: 7px;
  top: 9px;
}
.menu-btn .line-btn:nth-child(2) {
  left: 7px;
  top: 18px;
}
.menu-btn .line-btn:nth-child(3) {
  left: 7px;
  top: 27px;
}
.header .menu {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-left: 10px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .header .menu {
    height: auto;
    margin-top: 0;
    padding-bottom: 50px;
  }
}
.menu ul {
  display: none;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  padding-top: 10px;
}
@media only screen and (min-width: 600px) {
  .menu ul {
    display: block;
    padding-top: 0;
    text-align: center;
  }
}
.menu ul li {
  margin-top: 20px;
}
@media only screen and (min-width: 600px) {
  .menu ul li {
    display: inline-block;
    margin-left: 30px;
  }
}
@media only screen and (min-width: 821px) {
  .menu ul li {
    font-size: 1.2em;
    margin-left: 50px;
  }
}
.menu ul li a:link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
.menu ul li a:visited {
  color: #ffffff;
}
.menu ul li:nth-child(2) {
  color: red;
}
/*External div of logo*/
.header .logo-external {
  background-color: white;
  border: 5px solid red;
  -webkit-border-radius: 50%;
  /*Chrome, Safari*/
  -moz-border-radius: 50%;
  /*Mozilla*/
  border-radius: 50%;
  /*Standar syntax*/
  float: left;
  height: 50px;
  width: 50px;
}
@media only screen and (min-width: 600px) {
  .header .logo-external {
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    width: 80px;
  }
}
.logo-external a:link {
  color: #ffffff;
  text-decoration: none;
}
.logo-external a:visited {
  color: #ffffff;
}
/*Internal div of logo*/
.header .logo-internal {
  background: red;
  /*For browsers that not support gradients*/
  /*Safari 5.1 to 6.1, Chrome 10.0 to 26.0*/
  background: -webkit-repeating-linear-gradient(90deg, red, red 1px, white 2px, white 2px);
  /*Opera 11.1 to 12.0*/
  background: -o-repeating-linear-gradient(90deg, red, red 1px, white 2px, white 2px);
  /*Firefox 3.6 to 15*/
  background: -moz-repeating-linear-gradient(90deg, red, red 1px, white 2px, white 2px);
  /*Standar syntax*/
  background: repeating-linear-gradient(90deg, red, red 1px, white 2px, white 2px);
  -webkit-border-radius: 50%;
  /*Chrome 4.0, Safari 3.1*/
  -moz-border-radius: 50%;
  /*Mozilla 3.0*/
  border-radius: 50%;
  /*Standar syntax*/
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  padding-top: 20px;
  width: 36px;
}
@media only screen and (min-width: 600px) {
  .header .logo-internal {
    height: 66px;
    padding-top: 5px;
    width: 66px;
  }
}
.logo-internal p {
  font-family: 'Dancing Script', cursive;
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 0;
}
@media only screen and (min-width: 600px) {
  .logo-internal p {
    font-size: 0.9em;
  }
}
.logo-internal p:nth-child(1) {
  margin-left: 5px;
  margin-top: -15px;
}
@media only screen and (min-width: 600px) {
  .logo-internal p:nth-child(1) {
    margin-left: 12px;
    margin-top: 5px;
  }
}
.logo-internal p:nth-child(2) {
  margin-left: 7px;
  margin-top: 0;
}
@media only screen and (min-width: 600px) {
  .logo-internal p:nth-child(2) {
    margin-left: 22px;
  }
}
main {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  main {
    padding-left: 50px;
    padding-top: 150px;
  }
}
@media only screen and (min-width: 801px) {
  main {
    padding-left: 100px;
  }
}
main .div-cart {
  height: 100px;
  padding-right: 10px;
  width: 100%;
}
@media only screen and (min-width: 321px) {
  main .div-cart {
    padding-right: 30px;
  }
}
@media only screen and (min-width: 801px) {
  main .div-cart {
    padding-right: 80px;
  }
}
main .div-cart p {
  color: #ffffff;
  float: right;
  font-size: 2em;
  margin-top: 20px;
}
main .cart {
  border-radius: 10px;
  cursor: pointer;
  float: right;
}
main .pizza-menu {
  color: #ffffff;
  margin-top: 60px;
  padding-bottom: 1100px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  main .pizza-menu {
    width: 500px;
  }
}
@media only screen and (min-width: 801px) {
  main .pizza-menu {
    width: 700px;
  }
}
.kind-pizza {
  float: left;
  width: 100%;
}
.kind-pizza h3 {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 0;
  margin-top: 100px;
  width: 60%;
}
@media only screen and (min-width: 321px) {
  .kind-pizza h3 {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 600px) {
  .kind-pizza h3 {
    font-size: 1.7em;
  }
}
.kind-pizza p {
  font-size: 0.8em;
}
@media only screen and (min-width: 321px) {
  .kind-pizza p {
    font-size: 0.9em;
  }
}
.kind-pizza .plus-price {
  float: right;
  margin-top: -30px;
  width: 30%;
}
.kind-pizza i {
  cursor: pointer;
  float: right;
  font-size: 22px;
  margin-right: 5px;
}
@media only screen and (min-width: 321px) {
  .kind-pizza i {
    font-size: 26px;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 600px) {
  .kind-pizza i {
    font-size: 32px;
  }
}
.kind-pizza .price {
  float: right;
}
@media only screen and (min-width: 321px) {
  .kind-pizza .price {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 600px) {
  .kind-pizza .price {
    font-size: 1.5em;
  }
}
.modal-box-1 {
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  position: fixed;
  width: 100%;
}
.modal-box-1 .modal-content-1 {
  background-color: #CCCBCB;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  margin-top: 200px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}
@media only screen and (min-width: 321px) {
  .modal-box-1 .modal-content-1 {
    width: 300px;
  }
}
@media only screen and (min-width: 600px) {
  .modal-box-1 .modal-content-1 {
    height: 550px;
    width: 400px;
  }
}
.modal-content-1 input[name=quantity] {
  border: 2px solid gray;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  height: 30px;
  margin-top: 30px;
  text-align: center;
  width: 30px;
}
.modal-content-1 .item {
  float: left;
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 35px;
  text-align: center;
}
@media only screen and (min-width: 321px) {
  .modal-content-1 .item {
    font-size: 1.2em;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .modal-content-1 .item {
    font-size: 1.5em;
    margin-left: 5px;
  }
}
.modal-content-1 .order-pizza-price {
  float: left;
  font-size: 0.9em;
  margin-left: 5px;
  margin-top: 35px;
}
@media only screen and (min-width: 321px) {
  .modal-content-1 .order-pizza-price {
    font-size: 1.2em;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .modal-content-1 .order-pizza-price {
    font-size: 1.5em;
    margin-left: 15px;
  }
}
.modal-content-1 input[type=checkbox] {
  border-radius: 20px;
  clear: left;
  float: left;
  margin-top: 50px;
}
.modal-content-1 p:nth-child(6) {
  float: left;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 42px;
}
@media only screen and (min-width: 600px) {
  .modal-content-1 p:nth-child(6) {
    font-size: 1.5em;
    margin-top: 40px;
  }
}
.modal-content-1 p:nth-child(6) span.one-euro {
  font-size: 0.7em;
}
.modal-content-1 p:nth-child(7) {
  clear: left;
  float: left;
  margin-top: 60px;
}
@media only screen and (min-width: 321px) {
  .modal-content-1 p:nth-child(7) {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 600px) {
  .modal-content-1 p:nth-child(7) {
    margin-top: 100px;
  }
}
.modal-content-1 .total-price {
  margin-left: 10px;
}
.modal-content-1 .add-cart {
  background-color: #B6132C;
  border: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  clear: left;
  color: silver;
  cursor: pointer;
  float: left;
  letter-spacing: 1px;
  margin-top: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
}
@media only screen and (min-width: 321px) {
  .modal-content-1 .add-cart {
    font-size: 1.2em;
  }
}
.modal-content-1 .valid-number {
  color: red;
  float: left;
  display: none;
}
.modal-box-2 {
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  position: fixed;
  width: 100%;
}
.modal-box-2 .modal-content-2 {
  background-color: #CCCBCB;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  margin-top: 100px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
}
@media only screen and (min-width: 321px) {
  .modal-box-2 .modal-content-2 {
    width: 300px;
  }
}
@media only screen and (min-width: 600px) {
  .modal-box-2 .modal-content-2 {
    width: 500px;
  }
}
.modal-box-2 .order-details {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.modal-box-2 .order-details h2 {
  border-bottom: 2px solid #000000;
}
.modal-box-2 .order-details .ordered-list {
  padding-left: 0;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .modal-box-2 .order-details .ordered-list {
    width: 300px;
  }
}
.modal-box-2 .order-details li {
  border-bottom: 2px dotted gray;
  list-style-type: none;
  margin-top: 10px;
  padding-bottom: 10px;
}
.modal-box-2 .order-details li .btn-delete-item {
  background-color: #004350;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  letter-spacing: 1px;
  margin-top: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
}
.modal-box-2 .order-details .float-right {
  float: right;
}
.modal-box-2 form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.modal-box-2 input[type=text] {
  background-color: #D9D1D1;
  -webkit-border-radius: 2px;
  /*Chrome 4.0, Safari 3.1*/
  -moz-border-radius: 2px;
  /*Mozilla 3.0*/
  border-radius: 2px;
  /*Standar syntax*/
  border: 2px solid #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-top: 10px;
  width: 40%;
}
@media only screen and (min-width: 321px) {
  .modal-box-2 input[type=text] {
    display: inline-block;
    margin-left: 15px;
  }
}
@media only screen and (min-width: 600px) {
  .modal-box-2 input[type=text] {
    margin-left: 30px;
    width: 40%;
  }
}
.modal-box-2 p {
  margin-top: 50px;
}
.modal-box-2 select {
  border: 2px solid #ffffff;
  -webkit-border-radius: 2px;
  /*Chrome 4.0, Safari 3.1*/
  -moz-border-radius: 2px;
  /*Mozilla 3.0*/
  border-radius: 2px;
  /*Standar syntax*/
  background-color: #D9D1D1;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 50%;
}
.modal-box-2 textarea {
  border: 2px solid gray;
  -webkit-border-radius: 2px;
  /*Chrome 4.0, Safari 3.1*/
  -moz-border-radius: 2px;
  /*Mozilla 3.0*/
  border-radius: 2px;
  /*Standar syntax*/
  height: 200px;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .modal-box-2 textarea {
    width: 60%;
  }
}
.modal-box-2 input[type=submit] {
  background-color: #B6132C;
  border: none;
  -webkit-border-radius: 4px;
  /*Chrome 4.0, Safari 3.1*/
  -moz-border-radius: 4px;
  /*Mozilla 3.0*/
  border-radius: 4px;
  /*Standar syntax*/
  color: silver;
  cursor: pointer;
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 50px;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 100%;
}
@media only screen and (min-width: 321px) {
  .modal-box-2 input[type=submit] {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 600px) {
  .modal-box-2 input[type=submit] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }
}
/*Div with close icon for both modal boxes*/
.close {
  height: 40px;
  padding-top: 5px;
  width: 100%;
}
.close i {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
@media only screen and (min-width: 600px) {
  .close i {
    font-size: 30px;
  }
}
.footer {
  background: #000000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  letter-spacing: 1px;
  margin-top: 100px;
  padding-bottom: 25px;
  padding-top: 25px;
  text-align: center;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .footer {
    margin-top: 200px;
  }
}
.footer i {
  font-size: 24px;
  color: #FFFFFF;
}
@media only screen and (min-width: 321px) {
  .footer i {
    font-size: 30px;
  }
}
@media only screen and (min-width: 600px) {
  .footer i {
    font-size: 45px;
  }
}
.footer i:nth-child(1) {
  margin-right: 20px;
}
.footer i:nth-child(3) {
  margin-left: 20px;
}
.footer p {
  margin-top: 50px;
}
/*Classes*/
.line-rotate-1 {
  top: 17px !important;
  -webkit-transform: rotate(45deg);
  /*Chrome 4.0-36.0, Safari 3.2-9.0, Opera 15.0-23.0*/
  -moz-transform: rotate(45deg);
  /*Firefox 3.5-16.0*/
  -o-transform: rotate(45deg);
  /*Opera 10.5*/
  -ms-transform: rotate(45deg);
  /*IE 9.0-10.0*/
  transform: rotate(45deg);
  /*Standar syntax*/
}
.line-rotate-2 {
  top: 17px !important;
  -webkit-transform: rotate(-45deg);
  /*Chrome 4.0-36.0, Safari 3.2-9.0, Opera 15.0-23.0*/
  -moz-transform: rotate(-45deg);
  /*Firefox 3.5-16.0*/
  -o-transform: rotate(-45deg);
  /*Opera 10.5*/
  -ms-transform: rotate(-45deg);
  /*IE 9.0-10.0*/
  transform: rotate(-45deg);
  /*Standar syntax*/
}
